.destinations {
    overflow: hidden;
    margin-bottom: 150px;

    &__container {}
    &__inner {
        text-align: center;
    }
    &__title {
        text-align: center;
        margin-bottom: 40px;
        font-family: 'Red Hat Text',sans-serif;
        color: var(--accent-color);
        font-size: 40px;
        font-weight: 500;
    }


      
  }
  .slide-bar {
    display: flex;
    gap: 60px;
    justify-content: center;
    margin-bottom: 24px;

    img{
        border-radius: 20px ;
        transition: all .55s ease;
    }

    img:hover {
        filter: brightness(.6);
        transform: scale(1.02);
      }


  }
  
  .loader {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
}
.circle {
    width: 20px;
    height: 20px;
    background-color: #F2785C80;
    border-radius: 50%;
    transition: .25s;
}

.circle:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px black;
} 

.circle:active{
    transform: scale(1);
} 

.active {
    background-color: #F2785C;
}