.explore {
    position: absolute;
    top: 300px;
    left: 120px;

    &__container {
        height: 450px;
        color: #fff;
    }
    &__inner {

    }
    &__title {
        font-family: 'Aleo', sans-serif;
        font-size: 80px;
        margin-bottom: 45px;
    }
    &__discription {
        font-family: 'Aleo', sans-serif;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 35px;
    }
    &__search {
        padding: 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 16px;
        background-color: #FFFFFFB2;
    }
    &__search-text {
        font-family: 'Aleo', sans-serif;
        color: var(--accent-color);
        padding: 14px 23px;
        font-size: 24px;
    }
    &__search-button {
        padding: 13.5px 32.5px;
    }
  }
  